header {
	margin-left: 50px;
}

img.photo-icon {
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 3px 3px 10px #888;
}


.img-icon {
	z-index: 1000;
}

.leaflet-popup-content img {
	width: 100%;
	height: auto;
}

footer {
	text-align: center;
}
